html,
body {
  padding: 0;
  margin: 0;
}

@import "../node_modules/bootstrap/scss/bootstrap";

#app {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  //border: 1px solid red;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.login {
  @extend .vbox;
  padding: 20pt;
  //border: 1px solid red;
  width: min(100%, 200pt);
}

.signup {
  @extend .vbox;
  border: 1px solid red;
  width: min(100%, 200pt);
}

#board {
  border: 1px solid green;
}

.placer {
  border: 1px solid purple;
}
