html,
body {
  padding: 0;
  margin: 0;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.vbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login {
  @extend .vbox;
  border: 1px solid blue;
  width: min(100%, 200pt);
}

.signup {
  @extend .vbox;
  border: 1px solid red;
  width: min(100%, 200pt);
}

.board-container {
  overflow-y: scroll;
}
