html,
body {
  padding: 0;
  margin: 0;
}

@import "../node_modules/bootstrap/scss/bootstrap";

#app {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  //background-color: #808080;
  //border: 1px solid red;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.login {
  @extend .vbox;
  padding: 20pt;
  //border: 1px solid red;
  width: min(100%, 200pt);
}

.signup {
  @extend .vbox;
  border: 1px solid red;
  width: min(100%, 200pt);
}

.board-container {
  background-color: #808080;
}

/*
.board {
  position: relative;
  top: 0;
  left: 25%;

  transform-origin: top left;
  transform: scale(2);
  border: 1px solid green;
}
*/
.placer {
  //border: 1px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: "fit-content";
}

#navbar {
  zoom: reset;
}

#palette {
  zoom: reset;
}
